@import '../utils/variables';
@import '../utils/utils';

a[btn],
button[btn] {
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.825rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  padding: 0.6rem 1.5rem;
  color: $normal;
  @include inline-flexbox;
  @include disable-highlight;
  @include align-items(center);
  @include lys-transition(all);

  &:hover {
    background-color: $gray-200;
  }

  &[disabled] {
    background-color: transparent;
    box-shadow: none;
    color: $gray-500;
    cursor: no-drop;
  }

  &[full] {
    width: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include transition(
        opacity $transition-time $transition-ease,
        background-color $transition-time $transition-ease
    );
  }

  &[light] {
    padding: 0;
    color: $disabled--light;
    @include lys-transition(color);

    &:hover {
      background-color: transparent;
      color: $normal--light;
    }
  }

  &[primary] {
    color: $ui-primary;

    &:hover {
      background-color: rgba($ui-primary, 0.1);
    }
  }

  &[accent] {
    color: $accent;

    &:hover {
      background-color: rgba($accent, 0.1);
    }
  }
}

a[btn][raised],
button[btn][raised] {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);

  &[disabled] {
    background-color: $gray-200;
    border: 1px solid transparent;
    color: $gray-700;
  }

  &[primary] {
    background-color: $ui-primary;
    color: white;

    &:hover {
      background-color: $ui-primary-dark;
    }
  }

  &[accent] {
    background-color: $accent;
    color: white;

    &:hover {
      background-color: $accent-dark;
    }
  }
}

a[btn][outlined],
button[btn][outlined] {
  border: 1px solid $normal;

  &:hover {
    background-color: $normal;
    color: white;
  }

  &[disabled] {
    background-color: transparent;
    border: 1px solid $gray-300;
    color: $gray-500;
  }

  &[light] {
    border: 1px solid $ui-50;
    color: $ui-50;
    @include lys-transition(all);

    &:hover {
      background-color: $ui-50;
      color: $accent;
    }
  }

  &[primary] {
    border: 1px solid $ui-primary;
    color: $ui-primary;

    &:hover {
      background-color: $ui-primary;
      color: white;
    }
  }

  &[accent] {
    border: 1px solid $accent;
    color: $accent;

    &:hover {
      background-color: $accent;
      color: white;
    }
  }
}
