@import '~bootstrap/scss/mixins';
@import '../assets/utils/variables';
@import '../assets/utils/mixins';

.section {
  min-height: 600px;
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;

  &_header {
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      display: inline-block;
      font-size: 0.9rem;
      color: $ui-primary;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
      margin-bottom: 1rem;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 65%;
        left: 35%;
        bottom: -0.5rem;
        height: 2px;
        background-color: $ui-primary;
      }
    }

    p {
      font-size: 2.5rem;
      font-weight: 300;
    }

    &.light {
      h1, p {
        color: white;

        &:after {
          background-color: white;
        }
      }
    }
  }
}

// Navbar
.navbar {
  @include box-shadow();
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  z-index: 1;

  .navbar-nav {
    .nav-item {
      @include lys-transition(background-color);
      margin-left: 0.25rem;
      margin-right: 0.25rem;

      a {
        letter-spacing: 0.75px;
        color: $emphasis;
        font-size: 0.85rem;
        font-weight: 500;
      }

      &.active {
        box-shadow: 0 2px $ui-primary;
        a {
          color: $ui-primary;
        }
      }

      &:hover {
        box-shadow: 0 2px $ui-primary;
      }
    }
  }
}

// Home
.header {
  @include height(930px);
  padding-top: 0;
  padding-bottom: 0;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url("/assets/images/bnr-shape.png");
  position: relative;

  &:before {
    @include bg-image(cover);
    content: '';
    position: absolute;
    width: 100px;
    height: 400px;
    left: 0;
    top: 50px;
    background-image: url("/assets/images/side-shape-left.png");
  }

  &_content {
    @include height(930px);
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);

    &_title,
    &_name {
      font-weight: 700;
    }

    &_title {
      text-transform: uppercase;
      color: $ui-primary;
      letter-spacing: 3px;
      margin-bottom: 0.5rem;
    }

    &_name {
      font-size: 3rem;
    }

    &_job {
      font-size: 2rem;
    }

    &_button {
      margin-top: 2rem;
    }
  }
}

// About Me
.about-me {
  .card-about {
    @include box-shadow;

    &_profile,
    &_icons {
      padding: 0;
    }

    &_profile {
      border-right: 1px solid $gray-200;

      &_image {
        @include bg-image(contain);
        @include height(300px);
        background-color: rgba($ui-primary, 0.1);
        background-image: url("/assets/images/ill.png");
      }

      &_about {
        padding: 1rem;
        text-align: justify;
        font-size: 0.9rem;
      }
    }

    &_data {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      padding: 1rem;
      color: $gray-700;

      &_row {
        display: table;
        font-size: 0.9rem;
        margin-bottom: 2rem;
        table-layout: fixed;
        width: 100%;

        span {
          display: block;
          position: relative;
        }

        .title {
          font-weight: 500;
        }

        .separator {
          display: none;
          text-align: center;
          width: 80px;
        }

        .value {
          position: relative;

          &:after {
            content: '';
            background-color: $gray-200;
            bottom: -1rem;
            height: 1px;
            position: absolute;
            width: 100%;
            left: 0;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &_icons {
      @include flexbox;
      @include flex-direction(column);

      &_item {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        border-top: 1px solid $gray-200;
        border-left: 1px solid $gray-200;
        border-right: 1px solid $gray-200;
        height: 100%;
        min-height: 80px;
        color: $gray-700;
        cursor: pointer;

        &:hover {
          color: $normal;
        }

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          border-bottom: 1px solid $gray-200;
        }
      }
    }
  }
}

// Skills
.skills {
  position: relative;
  background-color: transparent;

  &_content {
    .card {
      border-radius: 0;

      .card-title {
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
      }
    }

    .progress-b {
      margin-bottom: 3rem;

      &_data {
        @include flexbox;
        @include justify-content(space-between);
        margin-bottom: 0.5rem;

        &_title,
        &_number {
          font-size: 0.9rem;
          font-weight: 500;
        }

        &_title {
          text-transform: uppercase;
          color: $emphasis;
        }

        &_number {
          color: $ui-primary;
        }
      }

      &_bar {
        height: 0.25rem;
        background-color: $gray-200;
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          background-color: $ui-primary;
        }

        &:before {
          width: 50%;
          height: 100%;
        }

        &:after {
          top: -0.125rem;
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          right: 50%;
        }

        &.pw-5 {
          &:before {
            width: 5%;
          }
          &:after {
            left: 5%;
          }
        }
        &.pw-10 {
          &:before {
            width: 10%;
          }
          &:after {
            left: 10%;
          }
        }
        &.pw-15 {
          &:before {
            width: 15%;
          }
          &:after {
            left: 15%;
          }
        }
        &.pw-20 {
          &:before {
            width: 20%;
          }
          &:after {
            left: 20%;
          }
        }
        &.pw-25 {
          &:before {
            width: 25%;
          }
          &:after {
            left: 25%;
          }
        }
        &.pw-30 {
          &:before {
            width: 30%;
          }
          &:after {
            left: 30%;
          }
        }
        &.pw-35 {
          &:before {
            width: 35%;
          }
          &:after {
            left: 35%;
          }
        }
        &.pw-40 {
          &:before {
            width: 40%;
          }
          &:after {
            left: 40%;
          }
        }
        &.pw-45 {
          &:before {
            width: 45%;
          }
          &:after {
            left: 45%;
          }
        }
        &.pw-50 {
          &:before {
            width: 50%;
          }
          &:after {
            left: 50%;
          }
        }
        &.pw-55 {
          &:before {
            width: 55%;
          }
          &:after {
            left: 55%;
          }
        }
        &.pw-60 {
          &:before {
            width: 60%;
          }
          &:after {
            left: 60%;
          }
        }
        &.pw-65 {
          &:before {
            width: 65%;
          }
          &:after {
            left: 65%;
          }
        }
        &.pw-70 {
          &:before {
            width: 70%;
          }
          &:after {
            left: 70%;
          }
        }
        &.pw-75 {
          &:before {
            width: 75%;
          }
          &:after {
            left: 75%;
          }
        }
        &.pw-80 {
          &:before {
            width: 80%;
          }
          &:after {
            left: 80%;
          }
        }
        &.pw-85 {
          &:before {
            width: 85%;
          }
          &:after {
            left: 85%;
          }
        }
        &.pw-90 {
          &:before {
            width: 90%;
          }
          &:after {
            left: 90%;
          }
        }
        &.pw-95 {
          &:before {
            width: 95%;
          }
          &:after {
            left: 95%;
          }
        }
        &.pw-100 {
          &:before {
            width: 100%;
          }
          &:after {
            left: 100%;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:before {
    @include bg-image(cover);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-image: url("/assets/images/bg_1.svg");
    background-color: white;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

// Why Me
.why-me {
  position: relative;
  background-color: $ui-primary;

  &_content {
    @include flexbox;
    @include align-items(center);
    color: white;

    .list-group {
      .list-group-item {
        background-color: transparent;
        border-color: rgba($gray-50, 0.2);
      }
    }
  }

  &_img {
    @include bg-image(contain);
    @include height(400px);
    background-image: url("/assets/images/ill-2.png");
  }

  &:before {
    @include bg-image(contain);
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0;
    right: 0;
    background-image: url("/assets/images/dot-squire.png");
  }
}

// Education
.education {
  background-color: white;
  position: relative;

  &_content {
    @include flexbox;
    position: relative;
    margin-bottom: 3rem;

    &_logo {
      @include wh(130px);
      display: none;
      margin-right: 1rem;
      border-radius: 50%;
      background-color: rgba($ui-primary, 0.2);
    }

    &_data {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      width: 100%;
      text-align: center;

      h3 {
        font-weight: 400;
        font-size: 1.3rem;
        color: $emphasis;
      }

      &_school {
        font-size: 0.95rem;
      }

      &_date {
        font-size: 0.8rem;
      }

      &_country {
        color: $ui-primary;
        font-size: 0.9rem;
      }
    }


  }
}

// Experience
.experience {
  position: relative;
  background-color: white;

  &_content {
    @include align-items(center);
    border-bottom: 1px solid rgba($ui-primary, 0.2);
    margin-bottom: 3rem;

    &_img {
      @include bg-image(contain);
      @include height(200px);
      background-image: url("/assets/images/contact-vector.png");
    }

    &_data {
      //border: 1px solid $ui-primary;
      padding: 1rem;

      &_job {
        color: $ui-primary;
        font-weight: 300;
      }

      &_company {
        color: $normal;
        font-weight: 500;
        font-size: 1rem;
      }

      &_date,
      &_address {
        font-size: 0.8rem;
      }

      &_date {
        color: $gray-600;
      }

      &_address {
        margin-bottom: 2rem;
        text-align: right;
      }

      &_tasks {
        color: $ui-primary;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
      }

      ul {
        font-size: 0.9rem;
        margin-bottom: 0;
      }
    }
  }

  &:before,
  &:after {
    @include bg-image(cover);
    content: '';
    position: absolute;
    width: 100px;
    height: 400px;
    background-image: url("/assets/images/side-shape-left.png");
  }

  &:before {
    right: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  &:after {
    bottom: 0;
    left: 0;
    background-image: url("/assets/images/side-shape-left.png");
  }
}

// Portafolio
.portafolio {
  position: relative;
  background-color: white;

  &:before,
  &:after {
    @include bg-image(contain);
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background-image: url("/assets/images/dot-squire.png");
  }

  &:before {
    top: 0;
    right: 0;
  }

  &:after {
    bottom: 0;
    left: 0;
  }
}

// Footer
.footer {
  @include flexbox;
  @include align-items(center);
  min-height: 264px;
  background-color: $ui-primary;
  color: white;

  &_icon {
    @include wh(72px);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include lys-transition(background-color);
    border-radius: 50%;
    background-color: rgba(white, 0.15);
    cursor: pointer;

    &:hover {
      background-color: white;
      color: $ui-primary;
    }
  }
}







@include media-breakpoint-up(lg, $bp) {
  .about-me {
    .card-about {

      &_profile {
        &_about {
          padding: 2rem;
        }
      }

      &_data {
        padding: 3rem;

        &_row {
          span {
            display: table-cell;
          }

          .title {
            width: 70px;
          }

          .separator {
            display: table-cell;
          }
        }
      }

      &_icons {
        &_item {
          border-top: 1px solid $gray-200;
        }
      }
    }
  }

  .education {
    &_content {

      &_logo {
        display: block;
      }

      &_data {
        text-align: left;
      }

      &.right {
        @include flex-direction(row-reverse);

        .education_content {
          &_logo {
            margin-right: 0;
            margin-left: 1rem;
          }

          &_data {
            text-align: right;
          }
        }

        &:before {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      &:before {
        @include bg-image(cover);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        filter: opacity(1) drop-shadow(0 0 0 $emphasis);
        background-image: url("/assets/images/general.png");
      }
    }
  }
}
