<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#nb_content">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nb_content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Why Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portafolio</a>
        </li>
      </ul>
      <button btn raised primary>Download CV</button>
    </div>
  </div>
</nav>


<!-- Section Header -->
<div class="section header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 header_content">
        <div class="header_content_title">hello</div>
        <div class="header_content_name">I'm Eder Marcos</div>
        <div class="header_content_job">a freelance Web & Movil</div>
        <div class="header_content_job">Developer</div>
        <div class="header_content_button">
          <button btn raised primary>Hire me</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section About Me -->
<div class="section about-me">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-left">
          <div class="section_header">
            <h1>About Me</h1>
            <p>There is all about me</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 about-me_img"></div>
      <div class="col-lg-6 about-me_content">
        <p>Hola, me llamo Jose Eder Marcos Lara, soy Desarrollador Web, aunque tambien he trabajado como desarrollador
          Movil y Backend. Me apasiona la creacion de nuevos proyectos y uno de mis objetivos es llegar a ser
          desarrollador Full Stack.</p>
        <p>Estudie en la Universidad Autonoma del Estado de Hidalgo (UAEH) la licenciatura de Ciencias Computacionales,
          lugar donde comence programando en PHP por motivos escolares, posteriormente me llamo la atencion Android, asi
          que decidi darle una oportunidad y la verdad es que me gusto bastante, despues me fui enfocando mas al
          desarrollo web especialmente con Angular 2 y me di cuenta que era una de las cosas que mas me apasionaba.</p>
        <p>En mi tiempo libre me gusta trabajar como freelance en proyectos ya sea con amigos o de manera individual con
          el objetivo de ampliar mis conocimientos y sobre todo adquirir mayor experiencia de aquellas tecnologias que
          considero importantes, siempre he procurado mantenerme actualizado con las nuevas tecnologias y herramientas
          que son parte importante en el desarrollo de mis proyectos</p>
      </div>
    </div>
  </div>
</div>


<!-- Section Skills -->
<div class="section skills">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <div class="section_header">
            <h1>Expertise</h1>
            <p>My skills</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col skills_content">
        <div class="card-columns">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tools</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Git</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mobile Developer</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Android</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">ionic 3</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Web Design</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Bootstrap 4</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Sass</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">css</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Flexbox Grid</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Frontend Developer</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Angular +2</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">vuejs</div>
                  <div class="progress-b_data_number">10%</div>
                </div>
                <div class="progress-b_bar pw-10"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">socket.io</div>
                  <div class="progress-b_data_number">10%</div>
                </div>
                <div class="progress-b_bar pw-10"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">javascript</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">typescript</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">html</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">jquery</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Pug(html preprocessor)</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Backend Developer</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">php</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Nodejs</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Java(Spring)</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Database Administrator</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">RethinkDB</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">mysql</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Mongodb</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Why Me -->
<div class="section why-me">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-left">
          <div class="section_header light">
            <h1>Why Me?</h1>
            <p>Why should you hire me?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 why-me_content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Facilidad de trabajo en equipo</li>
          <li class="list-group-item">Honestidad</li>
          <li class="list-group-item">Gusto por los retos</li>
          <li class="list-group-item">Capacidad de adaptacion a nuevas formas de trabajo</li>
          <li class="list-group-item">Hambre de aprender nuevas tecnologias</li>
          <li class="list-group-item">He sido dessarrollador Movil (Android) trajando con aplicaciones como Saint
            Gobain, Padrinos Lazos, Avalerroux
          </li>
          <li class="list-group-item">Tengo experiencia como Desarrollador Frontend trabajando en el proyecto Amino asi
            como en el sitio web de MTech Systems
          </li>
          <li class="list-group-item">He trabajado como Desarrollador Backend en una Intranet interna para los empleados
            de MTech Systems
          </li>
        </ul>
      </div>
      <div class="col-lg-6 why-me_img"></div>
    </div>
  </div>
</div>


<!-- Section Education -->
<div class="section education">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <div class="section_header">
            <h1>My Education</h1>
            <p>Where I studied?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 education_content">
        <div class="education_content_logo"></div>
        <div class="education_content_data">
          <h3>Lic. Ciencias Computacionales</h3>
          <p class="education_content_data_school">Universidad Autonoma del Estado de Hidalgo</p>
          <p class="education_content_data_date">08/2013 - 11/2017</p>
          <div class="education_content_data_country">Mineral de la Reforma, Hidalgo</div>
        </div>
      </div>
      <div class="col-12 education_content right">
        <div class="education_content_logo"></div>
        <div class="education_content_data">
          <h3>Tecnico en Informatica</h3>
          <p class="education_content_data_school">Colegio de Estudios Cientificos y Tecnologicos del Estado de
            Hidalgo</p>
          <p class="education_content_data_date">08/2010 - 06/2013</p>
          <div class="education_content_data_country">El Maye, Ixmiquilpan, Hidalgo</div>
        </div>
      </div>
      <div class="col-12 education_content">
        <div class="education_content_logo"></div>
        <div class="education_content_data">
          <h3>Secundaria General</h3>
          <p class="education_content_data_school">Ermilo Abreu Gomez</p>
          <p class="education_content_data_date">08/2007 - 06/2010</p>
          <div class="education_content_data_country">San Nicolas, Ixmiquilpan, Hidalgo</div>
        </div>
      </div>
      <div class="col-12 education_content right">
        <div class="education_content_logo"></div>
        <div class="education_content_data">
          <h3>Primaria General</h3>
          <p class="education_content_data_school">Cinco de Mayo</p>
          <p class="education_content_data_date">08/2004 - 06/2010</p>
          <div class="education_content_data_country">El Espiritu, Ixmiquilpan, hidalgo</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Experience -->
<div class="section experience">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-right">
          <div class="section_header">
            <h1>Qualification</h1>
            <p>Experience</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row experience_content">
      <div class="col-4 experience_content_img"></div>
      <div class="col-8 experience_content_data">
        <h3 class="experience_content_data_job">Web Developer <strong>-</strong><span
          class="experience_content_data_company"> MTech Systems</span></h3>
        <p class="experience_content_data_date">Feb 2018 - Present</p>
        <p class="experience_content_data_address">Blvd. Centro Sur 83, Colinas del Cimatario, 76090 Santiago de
          Querétaro, Qro.</p>
        <p class="experience_content_data_tasks">Achievements / Tasks</p>
        <ul>
          <li>Desarrollo de componentes para el proyecto Amino usando Angular 2</li>
          <li>Creacion de la estrucutra del sitio web en Angular 2</li>
          <li>Consumos de Amazon SES</li>
          <li>Integracion Continuacon Azure DevOps</li>
          <li>Creacion de aplicaciones en Ionic 3</li>
          <li>Creacion de una Intranet Interna</li>
        </ul>
        <div class="text-right">
          <a href="https://www.mtech-systems.com/" target="_blank">
            <button btn outlined primary>Website</button>
          </a>
        </div>
      </div>
    </div>

    <div class="row experience_content">
      <div class="col-4 experience_content_img"></div>
      <div class="col-8 experience_content_data">
        <h3 class="experience_content_data_job">Mobile Developer <strong>-</strong><span
          class="experience_content_data_company"> Sferea Estudios</span></h3>
        <p class="experience_content_data_date">Jun 2017 - Oct 2017</p>
        <p class="experience_content_data_address">Abundio Martinez 60, colonia Guadalupe Inn, Alvaro Obregon, Ciudad de
          Mexico</p>
        <p class="experience_content_data_tasks">Achievements / Tasks</p>
        <ul>
          <li>Creacion de aplicaciones desde 0 y soporte a aplicaciones en produccion</li>
          <li>Uso de librerias para el consumo de API's como Volley</li>
          <li>Consumo de librerias de Google como Google Maps, Youtube, Firebase</li>
          <li>Otras librerias como como Glide, GSON</li>
        </ul>
        <div class="text-right">
          <a href="https://www.mtech-systems.com/" target="_blank">
            <button btn outlined primary>Website</button>
          </a>
        </div>
      </div>
    </div>

    <div class="row experience_content">
      <div class="col-4 experience_content_img"></div>
      <div class="col-8 experience_content_data">
        <h3 class="experience_content_data_job">Web Developer <strong>-</strong><span
          class="experience_content_data_company"> Freelance</span></h3>
        <p class="experience_content_data_date">Mar 2017 - Jun 2017</p>
        <p class="experience_content_data_address">Mineral de La Reforma, Pachuca de Soto, Hidalgo.</p>
        <p class="experience_content_data_tasks">Achievements / Tasks</p>
        <ul>
          <li>Creacion de endpoints para el API REST de la aplicacion Casa Cuesta</li>
          <li>Creacion de modelos para la base de datos usando MongoDB</li>
          <li>Creacion de componentes reutilizables usando el framework REACT</li>
          <li>Maquetacion del sitio web con Bootstrap</li>
        </ul>
        <div class="text-right">
          <a href="https://www.mtech-systems.com/" target="_blank">
            <button btn outlined primary>Website</button>
          </a>
        </div>
      </div>
    </div>
    <div class="row experience_content">
      <div class="col-4 experience_content_img"></div>
      <div class="col-8 experience_content_data">
        <h3 class="experience_content_data_job">Web Developer <strong>-</strong><span
          class="experience_content_data_company"> Observatorio Tecnologico del Estado de Hidalgo</span></h3>
        <p class="experience_content_data_date">Ene 2017 - Jun 2017</p>
        <p class="experience_content_data_address">Mineral de La Reforma, Universidad Autonoma del Estado de Hidalgo,
          Pachuca de Soto, Hgo.</p>
        <p class="experience_content_data_tasks">Achievements / Tasks</p>
        <ul>
          <li>Maquetacion de la Intranet usando Semantic UI</li>
          <li>Diseño de la base de datos con MongoDB a traves de Mongoose</li>
          <li>Creacion de un API REST usando NodeJS</li>
          <li>Autenticacion con tokens usando la libreria JWT</li>
        </ul>
        <div class="text-right">
          <a href="https://www.mtech-systems.com/" target="_blank">
            <button btn outlined primary>Website</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Portafolio -->
<div class="section portafolio">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <div class="section_header">
            <h1>Awesome Works</h1>
            <p>Latest Portafolio</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="masonry-container">
          <div class="masonry-container_item gc-3 gr-2">1</div>
          <div class="masonry-container_item gc-3 gr-2">2</div>
          <div class="masonry-container_item gc-2 gr-2">3</div>
          <div class="masonry-container_item gc-2 gr-2"></div>
          <div class="masonry-container_item gc-2 gr-4">5</div>
          <div class="masonry-container_item gc-4 gr-2">6</div>
          <div class="masonry-container_item gc-3 gr-2">7</div>
          <div class="masonry-container_item gc-3 gr-2">8</div>
          <div class="masonry-container_item gc-2 gr-2">9</div>
          <div class="masonry-container_item gc-2 gr-2">10</div>
          <div class="masonry-container_item gc-2 gr-4">11</div>
          <div class="masonry-container_item gc-4 gr-2">12</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Footer -->
<div class="section footer">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-auto mb-4 mb-md-0 d-flex align-items-center justify-content-center">
        <div class="footer_icon">
          <i class="fab fa-facebook-f"></i>
        </div>
      </div>
      <div class="col-md-auto mb-4 mb-md-0 d-flex align-items-center justify-content-center">
        <div class="footer_icon">
          <i class="fab fa-twitter"></i>
        </div>
      </div>
      <div class="col-md-auto mb-4 mb-md-0 d-flex align-items-center justify-content-center">
        <div class="footer_icon">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
      <div class="col-md-auto mb-4 mb-md-0 d-flex align-items-center justify-content-center">
        <div class="footer_icon">
          <i class="fab fa-pinterest-p"></i>
        </div>
      </div>
    </div>
  </div>
</div>
