<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#nb_content">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nb_content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Why Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Testimonies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portafolio</a>
        </li>
      </ul>
      <button btn raised primary>Download CV</button>
    </div>
  </div>
</nav>


<!-- Section Header -->
<div class="section header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 header_content">
        <div class="header_content_title">hello</div>
        <div class="header_content_name">I'm Eder Marcos</div>
        <div class="header_content_job">a freelance Web & Movil</div>
        <div class="header_content_job">Developer</div>
        <div class="header_content_button">
          <button btn raised primary>Hire me</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section About Me -->
<div class="section about-me">
  <div class="container">
    <div class="row">
      <div class="col">
       <div class="text-right">
         <div class="section_header">
           <h1>About Me</h1>
           <p>There is all about me</p>
         </div>
       </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 about-me_img"></div>
      <div class="col-lg-6 about-me_content">
        <p>Soy estudiante recién egresado de la UAEH, me encanta la programación web y móvil, así como las tecnologías que son tendencia.</p>
        <p>En mi tiempo libre soy autodidacta y busco ampliar mis conocimientos estudiando diferentes tecnologias que puedo llegar a ocupar.</p>
        <p>En ocaciones me gusta aprender las bases de algun lenguaje y/o tecnologia, para que cuando vuelva a laborar, mi adaptacion sea de lo mas rapida posible.</p>
      </div>
    </div>
  </div>
</div>


<!-- Section Skills -->
<div class="section skills">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <div class="section_header">
            <h1>Expertise</h1>
            <p>My skills</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col skills_content">
        <div class="card-columns">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Mobile Developer</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Android</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">ionic 3</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Web Design</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Bootstrap 4</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Sass</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">css</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Flexbox Grid</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Frontend Developer</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Angular +2</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">vuejs</div>
                  <div class="progress-b_data_number">10%</div>
                </div>
                <div class="progress-b_bar pw-10"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">socket.io</div>
                  <div class="progress-b_data_number">10%</div>
                </div>
                <div class="progress-b_bar pw-10"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">javascript</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">typescript</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">html</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">jquery</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Pug(html preprocessor)</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Backend Developer</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">php</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Nodejs</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Java(Spring)</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Database Administrator</h5>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">RethinkDB</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">mysql</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
              <div class="progress-b">
                <div class="progress-b_data">
                  <div class="progress-b_data_title">Mongodb</div>
                  <div class="progress-b_data_number">80%</div>
                </div>
                <div class="progress-b_bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Why Me -->
<div class="section why-me">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-left">
          <div class="section_header light">
            <h1>Why Me?</h1>
            <p>Why should you hire me?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 why-me_content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Facilidad de trabajo en equipo</li>
          <li class="list-group-item">Honestidad</li>
          <li class="list-group-item">Gusto por los retos</li>
          <li class="list-group-item">Capacidad de adaptacion a nuevas formas de trabajo</li>
          <li class="list-group-item">Hambre de aprender nuevas tecnologias</li>
          <li class="list-group-item">He sido dessarrollador Movil (Android) trajando con aplicaciones como Saint Gobain, Padrinos Lazos, Avalerroux</li>
          <li class="list-group-item">Tengo experiencia como Desarrollador Frontend trabajando en el proyecto Amino asi como en el sitio web de MTech Systems</li>
          <li class="list-group-item">He trabajado como Desarrollador Backend en una Intranet interna para los empleados de MTech Systems</li>
        </ul>
      </div>
      <div class="col-lg-6 why-me_img"></div>
    </div>
  </div>
</div>


<!-- Section Education -->
<div class="section education">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <div class="section_header">
            <h1>Education</h1>
            <p>Happy Client Says!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col education_content">Content</div>
    </div>
  </div>
</div>


<!-- Section Experience -->
<div class="section experience">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-right">
          <div class="section_header">
            <h1>Qualification</h1>
            <p>Experience</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col experience_content">Content</div>
    </div>
  </div>
</div>


<!-- Section Portafolio -->
<div class="section portafolio">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <div class="section_header light">
            <h1>Awesome Works</h1>
            <p>Latest Portafolio</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col portafolio_content">Content</div>
    </div>
  </div>
</div>


<!-- Section Footer -->
<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="col">
        Section Footer
      </div>
    </div>
  </div>
</div>
