@import '../assets/utils/variables';
@import '../assets/utils/mixins';

// Navbar
.navbar {
  @include box-shadow();
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  z-index: 1;

  .navbar-nav {
    .nav-item {
      @include lys-transition(background-color);
      margin-left: 0.25rem;
      margin-right: 0.25rem;

      a {
        letter-spacing: 0.75px;
        color: $emphasis;
        font-size: 0.85rem;
        font-weight: 500;
      }

      &.active {
        box-shadow: 0 2px $ui-primary;
        a {
          color: $ui-primary;
        }
      }

      &:hover {
        box-shadow: 0 2px rgba($ui-primary, 0.25);
      }
    }
  }
}

.section {
  min-height: 600px;
  background-color: transparent;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &_header {
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      display: inline-block;
      font-size: 0.9rem;
      color: $ui-primary;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
      margin-bottom: 1rem;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 65%;
        left: 35%;
        bottom: -0.5rem;
        height: 2px;
        background-color: $ui-primary;
      }
    }

    p {
      font-size: 2.5rem;
      font-weight: 300;
    }

    &.light {
      h1, p {
        color: white;

        &:after {
          background-color: white;
        }
      }
    }
  }
}

.header {
  @include height(930px);
  padding-top: 0;
  padding-bottom: 0;
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("/assets/images/bnr-shape-2.png");
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 400px;
    left: 0;
    bottom: 100px;
    @include bg-image(cover);
    background-image: url("/assets/images/side-shape-left.png");
  }

  &_content {
    @include height(930px);
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);

    &_title,
    &_name {
      font-weight: 700;
    }

    &_title {
      text-transform: uppercase;
      color: $gray-600;
      letter-spacing: 3px;
      margin-bottom: 0.5rem;
    }

    &_name {
      font-size: 3rem;
    }

    &_job {
      font-size: 2rem;
    }

    &_button {
      margin-top: 2rem;
    }
  }
}

.about-me {
  &_content {
    &_img {
      @include bg-image(contain);
      @include height(400px);
      background-image: url("/assets/images/ill.png");
    }
  }
}

.why-me {
  background-color: white;

  &_content {

  }
}

.skills {
  @include bg-image(cover);
  background-image: url("/assets/images/bg_1.svg");
  background-color: white;

  &_content {
    .pb {
      margin-bottom: 2rem;

      &_data {
        @include flexbox;
        @include justify-content(space-between);
        margin-bottom: 0.5rem;

        &_title,
        &_number {
          font-size: 0.9rem;
          font-weight: 500;
        }

        &_title {
          text-transform: uppercase;
          color: $emphasis;
        }

        &_number {
          color: $ui-primary;
        }
      }

      &_bar {
        height: 0.25rem;
        background-color: $gray-400;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: 50%;
          height: 100%;
          background-color: $ui-primary;
        }
      }
    }
  }
}

.experience {
  background-color: white;

  &_content {

  }
}

.portafolio {
  background-color: $ui-primary;

  &_content {

  }
}
