<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#nb_content">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nb_content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Why Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Testimonies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portafolio</a>
        </li>
      </ul>
      <button btn raised primary>Download CV</button>
    </div>
  </div>
</nav>


<!-- Section Header -->
<div class="section header">
  <div class="container">
    <div class="row">
      <div class="col-6 header_content">
        <div class="header_content_title">hello</div>
        <div class="header_content_name">I'm Eder Marcos</div>
        <div class="header_content_job">a freelance web & Movil</div>
        <div class="header_content_job">Developer</div>
        <div class="header_content_button">
          <button btn raised primary>Hire me</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section About Me -->
<div class="section about-me">
  <div class="container">
    <div class="row">
      <div class="col about-me_content">
       <div class="text-center">
         <div class="section_header">
           <h1>Profesional profile</h1>
           <p>There is all about me</p>
         </div>
       </div>

        <div class="row">
          <div class="col-lg-6 about-me_content_img"></div>
          <div class="col-lg-6 d-flex align-items-center">
            Soy estudiante recién egresado de la UAEH, me encanta la programación web y móvil, así como las tecnologías que son tendencia. En mi tiempo libre soy autodidacta y busco ampliar mis conocimientos estudiando diferentes tecnologias que puedo llegar a ocupar. En ocaciones me gusta aprender las bases de algun lenguaje y/o tecnologia, para que cuando vuelva a laborar, mi adaptacion sea de lo mas rapida posible.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Why Me -->
<div class="section why-me">
  <div class="container">
    <div class="row">
      <div class="col why-me_content">
        <div class="section_header">
          <h1>Why Me?</h1>
          <p>Happy Client Says!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Services -->
<div class="section skills">
  <div class="container">
    <div class="row">
      <div class="col skills_content">
        <div class="section_header">
          <h1>Expertise</h1>
          <p>My skills</p>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">Android</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">php</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">sass</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">javascript</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">mongodb</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">rethinkdb</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">typescript</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">html</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">ionic 3</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">java(Spring)</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">css</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">mysql</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">nodejs</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
              <div class="pb">
                <div class="pb_data">
                  <div class="pb_data_title">bootstrap 4</div>
                  <div class="pb_data_number">80%</div>
                </div>
                <div class="pb_bar"></div>
              </div>
            </div>
            <div class="col-lg-6 border"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Education -->
<div class="section education">
  <div class="container">
    <div class="row">
      <div class="col education_content">
        <div class="section_header">
          <h1>Education</h1>
          <p>Happy Client Says!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Experience -->
<div class="section experience">
  <div class="container">
    <div class="row">
      <div class="col experience_content">
        <div class="section_header">
          <h1>Qualification</h1>
          <p>Experience</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Section Portafolio -->
<div class="section portafolio">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="col experience_content">
          <div class="section_header light">
            <h1>Awesome Works</h1>
            <p>Latest Portafolio</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Section Footer -->
<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="col">
        Section Footer
      </div>
    </div>
  </div>
</div>
